body {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
}
.table{
	margin-top: 160px;
}
.table tr{
	text-align:center;
}
.text{
	width: 120px;
	border:1px solid #0086D2;	
}
.butten1{
	width: auto;
	background-color:Transparent;
	background-image: url("../images/button.jpg");	
	border:0px solid #7CBCEB;
	height:24px;	
	text-align:center;	
}
.senfe1 {	
	border-top: #bbd1fa 1px solid;
 	border-left: #bbd1fa 1px solid;	
 	margin-top:10px;
}

.senfe1 td {
 	padding: 2px;
 	border-right: #bbd1fa 1px solid;
 	border-bottom: #bbd1fa 1px solid;
 	font-size: 12px;
 	height: 25px;
}
.senfe1 a  {
	color:#000000;text-decoration:none;
}
.list_head {
	background-color: #8FABDE;	
	background-repeat: repeat-x;
	height: 24px;
	text-align:center;
}