@charset "utf-8";
/* CSS Document */

/*------全局变量-------*/

*{
	margin:0 auto;
	padding:0;
	border:none;
	}
html,body{
	height:100%;
	overflow:hidden;
	}
.align_left{
	text-align:left;
	}
.align_center{
	text-align:center;
	}
.align_right{
	text-align:right;
	}

/*-----header------*/

.logo_bg{
	background:url(../images/yunwei_images/wlwxx_02.jpg) repeat-x;
	height:58px;
	}
.nav_bg{
	background:url(../images/yunwei_images/wlwxx_04.jpg) repeat-x;
	height:33px;
	}
.user_ft_sty{
	font-size: 12px;
	color: #c8cdc1;
}

/*------left------*/

.LeftTree_button_bg{
	background:url(../images/yunwei_images/t.jpg) repeat-y right;
	width:8px;
	height:100%;
	text-align:center;
	border-left:1px #008103 solid;
	}


/*------bottom------*/

.bottom_ft{
	font-family:"宋体";
	font-size:12px;
	color:#fff;
	background-color:#2459cd;
	text-align:center;
	}


/*------right------*/

.RightTree_button_bg{
	background:url(../images/yunwei_images/t.jpg) repeat-y left;
	width:8px;
	height:100%;
	text-align:center;
	border-right:1px #008103 solid;
	}
